<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../HomePage/home.css">
    <link rel="stylesheet" href="../Registration/signup.css">
    <link rel="stylesheet" href="./manager.css">
    <link rel="stylesheet" href="./movie_add.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="nav-bg">
        <nav class="nav-bar section-header">
            <h1>AJ<span>DVD</span> </h1>
            <ul>
                <li><a href="../Manager/manager.html">Customer</a></li>
                <li><a href="../Manager/movie_view.html">Movie</a></li>
                <li><a href="../Manager/Reports.html">Reports</a></li>
                <li><a href="./rentMovie.html">RentedMovies</a></li>
                <li><a href="./CRent.html">Return</a></li>
            </ul>
        </nav>
    </div>

    <div class="cus-table">
        <div class="section-header">
            <h1 class="table-heading">Rented movies details</h1>
        </div>
        <table id="Movie-table">
            <thead class="table-head">
                <td>User</td>
                <td>Id</td>
                <td>Movie_Title</td>
                <td>No_Of_Copies</td>
                <td>Rented_date</td>
                <td>Return_date</td>
                <td>Option</td>
            </thead>
       

        </table>
    </div>
    <!-- <footer>
        <div class="footer-content section-header ">
            <div>
                <h2> About Us</h2>
                <h3>Discover Unicom Entertainment</h3>
                <h4>Learn more about our passion for bringing the best movies to your screen</h4>
            </div>
            <div>
                <h2>Customer Support</h2>
                <h3>Need Assistance?</h3>
                <h4>Our support team is here to help you with any questions or issues. Reach out to us via email or
                    call us at (123) 456-7890</h4>
            </div>
            <div>
                <h2>Quick Links</h2>
                <h3>Explore</h3>
                <h4>
                    <a href="">Browse Movies</a>
                    <a href="">FAQs</a>
                    <a href="">Help Center</a>
                </h4>
            </div>
            <div>
                <h2>Visit Us</h2>
                <h3>Neervelly West Neervelly,Jaffna 40000</h3>
            </div>

        </div>
    </footer> -->
    <script src="./CRent.js"></script>
</body>

</html>