<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Registration/signup.css">
    <link rel="stylesheet" href="../HomePage/home.css">
</head>

<body>
   
    <main >
        <div class=" form-center">

            <form class="Registration" id="form">

                <div>
                    <h1>Add Your Movie</h1>
                </div>

                <div class="form-devide">
                    <div>
                        <label>Movie_Title</label>
                        <input type="text" placeholder="Enter movie name" id="movieName" required>
                        <label>Director</label>
                        <input type="text" placeholder="Enter movie director" id="director" required>
                        <label>Price</label>
                        <input type="number" placeholder="Enter movie Price" id="Price" required>
                        <label>Quantity</label>
                        <input type="number" placeholder="Enter movie Quantity " id="Quantity" required>
                    </div>

                    <div>
                        <label>Actor</label>
                        <input type="text" placeholder="Enter movie actor" id="actor" required>
                        <label>Release date</label>
                        <input type="date" placeholder="Enter movie release date" id="rDate" required>

                        <label>Image</label>
                        <input type="url" placeholder="Enter image" id="image" required>
                        <label>Genere</label>
                        <select id="genere">
                            <option value="">Select Genre</option>
                            <option value="Action">Action</option>
                            <option value="Adventure">Adventure</option>
                            <option value="Animation">Animation</option>
                            <option value="Biography">Biography</option>
                            <option value="Comedy">Comedy</option>
                            <option value="Crime">Crime</option>
                            <option value="Drama">Drama</option>
                            <option value="Fantasy">Fantasy</option>
                            <option value="Historical">Historical</option>
                            <option value="Horror">Horror</option>
                            <option value="Mystery">Mystery</option>
                            <option value="Romance">Romance</option>
                            <option value="Sci-Fi">Sci-Fi</option>
                            <option value="Thriller">Thriller</option>
                            <option value="Western">Western</option>
                        </select>
                    </div>
                </div>


                <div style="text-align: center; width: 100%;">
                    <p id="message" class="para">

                    </p>
                </div>
                <div class="btn">
                    <button class="Add" type="submit">Submit</button>

                </div>
            </form>


        </div>
    </main>
    <!-- <footer>
        <div class="footer-content section-header">
            <div>
                <h2> About Us</h2>
                <h3>Discover Unicom Entertainment</h3>
                <h4>Learn more about our passion for bringing the best movies to your screen</h4>
            </div>
            <div>
                <h2>Customer Support</h2>
                <h3>Need Assistance?</h3>
                <h4>Our support team is here to help you with any questions or issues. Reach out to us via email or
                    call us at (123) 456-7890</h4>
            </div>
            <div>
                <h2>Quick Links</h2>
                <h3>Explore</h3>
                <h4>
                    <a href="">Browse Movies</a>
                    <a href="">FAQs</a>
                    <a href="">Help Center</a>
                </h4>
            </div>
            <div>
                <h2>Visit Us</h2>
                <h3>Neervelly West Neervelly,Jaffna 40000</h3>
            </div>

        </div>
    </footer> -->
    <script src="./movies_add.js"></script>

</body>

</html>