<style>
    
</style>


<section>

    <div class="pop-cover">
        <div class="popup-bg">
        </div>
        <div class="section-header">
            <div class="popup">
                <div class=" form-center">
                    <form class="Registration white" id="form">

                        <div>
                            <h1>Your Details</h1>
                        </div>
                        <div>

                        </div>
                        <div class="form-devide">
                            <div>
                                <label>Firstname</label>
                                <input type="text" id="firstname" required>
                                <label>Position</label>
                                <input type="text" id="Position" required>
                            </div>

                            <div>
                                <label>Nation IC Number</label>
                                <input type="text" id="Nic" readonly>
                                <label>Mobile Number</label>
                                <input type="text" id="Phone" required>
                                <label>E-mail</label>
                                <input type="text" id="email" required>

                            </div>
                        </div>
                        <div class="pop-btn">
                            <button class="pop-edit red" type="button" onclick="cancelProfile()">Cancel</button>
                            <button class="pop-edit" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <div class="well-bg">
        <div class="wel-devide">

            <div class="welcome-message">
                <h1><span>Unicom</span>Entertainment!</h1>
                <h2> Discover Your Next Favorite Film Anytime,Anywhere!</h2>
                <h3> Explore our collection now and make your movie night
                    <br> unforgettable.
                </h3>

            </div>

        </div>
    </div>

    <div class="main-ng">
        <main class="section-header">

            <div class="explore-movie">
                <div class="movie-heading">
                    <h1 class="movie-h1">
                        Explore Movie
                    </h1>
                </div>
                <div class="all-card">
                    <div class="card">
                        <h1><i class="fa fa-film" aria-hidden="true"></i></h1>
                        <h3>Tamil Cinema</h3>
                        <h4>"Tamil Treasures: Immerse Yourself in the Rich and Vibrant World of Tamil Films!"</h4>
                    </div>
                    <div class="card">
                        <h1><i class="fa fa-film" aria-hidden="true"></i></h1>
                        <h3>English Films</h3>
                        <h4>"English Classics & New Hits: Enjoy a Wide Range of Stories from Around the Globe!"</h4>
                    </div>
                    <div class="card">
                        <h1><i class="fa fa-film" aria-hidden="true"></i></h1>
                        <h3>Tamil Dubbed</h3>
                        <h4>
                            "Tamil Dubbed Hits: Enjoy Popular Films with Tamil Voiceovers for a True Experience!"</h4>
                    </div>


                </div>

            </div>


        </main>
    </div>
    <main class="section-header">

        <div class="movie-section">
            <div>
                <h1 class="movie-h1" style="color: white;">New releases Movies</h1>
            </div>
            <div class="all-movie-card">
                <div class="movie-card">
                    <img src="/static/images/images_1.jpeg" alt="">
                </div>
                <div class="movie-card">
                    <img src="/static/images/images_2.jpeg" alt="">
                </div>
                <div class="movie-card">
                    <img src="/static/images/images_3.jpeg" alt="">
                </div>
                <div class="movie-card">
                    <img src="/static/images/images_4.jpeg" alt="">
                </div>
                <div class="movie-card">
                    <img src="/static/images/images_5.jpeg" alt="">
                </div>
            </div>
        </div>

    </main>
</section>


<script>
    const SearchId = new URLSearchParams(window.location.search)
    const UserId = SearchId.get('loginId')
    let Customer_Url = "http://localhost:3000/Customers"
    let LoginUser_Url = "http://localhost:3000/Login_User"
    const AllUsers = [];
    const Login_users = [];

    const homeLink = document.getElementById('homeLink');
    if (UserId) {
        homeLink.href = `../HomePage/Home.html?loginId=${UserId}`;
    }
    const CategoryLink = document.getElementById("CategoryLink")
    if (UserId) {
        CategoryLink.href = `../CategoryPage/Category.html?loginId=${UserId}`
    }



    fetch(LoginUser_Url)
        .then(response => response.json())
        .then(temb => {
            Login_users.push(...temb)
        })

    fetch(Customer_Url)
        .then(response => response.json())
        .then(Customer => {
            AllUsers.push(...Customer)
            nav_func();
        })


    // let UserId=Temb_User.id
    function nav_func() {
        if (UserId != null) {
            document.getElementById("login").style.display = "none"
            document.getElementById("signin").style.display = "none"
            document.getElementById("Profile").style.display = "block"
            document.getElementById("logout").style.display = "block"

            let rentBtn = document.querySelectorAll(".rent-btnLog")
            for (let r = 0; r < rentBtn.length; r++) {
                const element = rentBtn[r];
                element.style.display = "block"

            }
            let rentSign = document.querySelectorAll(".rent-btnSIg")
            for (let r = 0; r < rentSign.length; r++) {
                const element = rentSign[r];
                element.style.display = "none"

            }

        }
        else {
            document.getElementById("login").style.display = "block"
            document.getElementById("signin").style.display = "block"
            document.getElementById("Profile").style.display = "none"
            document.getElementById("logout").style.display = "none"
            document.getElementById("Notification").style.display = "none"

            let rentBtn = document.querySelectorAll(".rent-btnLog")
            for (let r = 0; r < rentBtn.length; r++) {
                const element = rentBtn[r];
                element.style.display = "none"

            }
            let rentSign = document.querySelectorAll(".rent-btnSIg")
            for (let r = 0; r < rentSign.length; r++) {
                const element = rentSign[r];
                element.style.display = "block"

            }
        }

    }

    function Profile() {
        document.querySelector(".pop-cover").style.display = "block"
        let Users = AllUsers.find(user => user.id == UserId)
        var TembArray = Users
        console.log(TembArray)
        document.getElementById("firstname").value = TembArray.firstname
        document.getElementById("Nic").value = TembArray.nic
        document.getElementById("Phone").value = TembArray.phone
        document.getElementById("email").value = TembArray.email
        document.getElementById("Position").value = TembArray.position

        document.getElementById("form").addEventListener('submit', function (event) {
            event.preventDefault()
            var firstname = document.getElementById("firstname").value.trim()
            var phone = document.getElementById("Phone").value.trim()
            var email = document.getElementById("email").value.trim()

            TembArray.firstname = firstname
            TembArray.phone = phone
            TembArray.email = email
            fetch(`${Customer_Url}/${UserId}`, {
                method: 'PUT',
                headers: {
                    'content-type': 'application/json'
                },
                body: JSON.stringify(TembArray)
            })
            document.querySelector(".pop-cover").style.display = "none"
            window.location.reload()

        })
    }

    function cancelProfile() {
        document.querySelector(".pop-cover").style.display = "none"

    }

    function logout() {

        let User_details = AllUsers.find(x => x.id == UserId)
        let Temb_User = Login_users.find(x => x.username == User_details.username)

        fetch(`${LoginUser_Url}/${Temb_User.id}`, {
            method: 'DELETE',
            headers: {
                'content-type': 'application/json'
            }
        })
        const url = new URL(window.location.href);
        url.searchParams.delete('loginId');
        window.history.replaceState({}, '', url);
        window.location.reload()
    }
</script>